@import compass
@import scss-mixins
@import typography
@import famous


.card
  border-radius: 8px
  box-shadow: 0 0 6px 8px rgba(0, 0, 0, 0.5)

.card-description
  text-align: center
  font: 16px

.background-image
  -webkit-filter: blur(7px)
