<h1>Filters</h1>


<select>
  <option value="pics">Everything</option>
  <option value="gifs">Gifs</option>
  <option value="funny">Funny</option>
  <option value="mildlyinteresting">Mildly Interesting</option>
</select>
