body {
  background-color: gray;
}

.double-sided {
  backface-visibility: visible;
}

.card {
  background-color: white;
}

.card-description {
  text-align: center;
  font: 16px;
}

* {
  border: 1px solid black;
}
