body {
  // background-color: gray;
}

.double-sided {
  backface-visibility: visible;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 6px 8px rgba(0,0,0,0.5);
}

.card-description {
  text-align: center;
  font: 16px;
}

* {
  // border: 1px solid black;
}

.background-image {
  // opacity: .3;
  -webkit-filter: blur(5px);
}
